<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LogInFilter</filter-name>
  	<display-name>LogInFilter</display-name>
  	<description></description>
  	<filter-class>org.itstep.servlet.filter.LogInFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogInFilter</filter-name>
  	<url-pattern>/LogInFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>GetIndexPageServlet</servlet-name>
  	<display-name>GetIndexPageServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.GetIndexPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegTicherServlet</servlet-name>
  	<display-name>RegTicherServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.RegTicherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegStudentServlet</servlet-name>
  	<display-name>RegStudentServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.RegStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInServlet</servlet-name>
  	<display-name>LogInServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInTeacherServlet</servlet-name>
  	<display-name>LogInTeacherServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.LogInTeacherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutServlet</servlet-name>
  	<display-name>LogOutServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomePageServlet</servlet-name>
  	<display-name>HomePageServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentInGroupServlet</servlet-name>
  	<display-name>StudentInGroupServlet</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.StudentInGroupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentInformation</servlet-name>
  	<display-name>StudentInformation</display-name>
  	<description></description>
  	<servlet-class>org.itstep.servlet.StudentInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetIndexPageServlet</servlet-name>
  	<url-pattern>/GetIndexPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegTicherServlet</servlet-name>
  	<url-pattern>/RegTicherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegStudentServlet</servlet-name>
  	<url-pattern>/RegStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInServlet</servlet-name>
  	<url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInTeacherServlet</servlet-name>
  	<url-pattern>/LogInTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutServlet</servlet-name>
  	<url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePageServlet</servlet-name>
  	<url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentInGroupServlet</servlet-name>
  	<url-pattern>/StudentInGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentInformation</servlet-name>
  	<url-pattern>/StudentInformation</url-pattern>
  </servlet-mapping>
</web-app>
